<template>
  <div class="container shop">
      <div class="shop__products">
        <h1 class="shop__products-heading">Имеющиеся категории товаров ({{productsCount}})</h1>
        <ul class="shop__product-list" v-if="products.length > 0">
            <li v-for="p in products" v-bind:key="p.id">Осталось {{p.amount}} {{p.productName}} по {{p.price}} рублей <button :disabled="!abilityAddProduct(p.id)" @click="addToCart(p.id)">Добавить в корзину</button></li>
        </ul>
    </div>
  <div class="shop__cart">
    <h2 class="shop__cart-heading" v-if="cartProductsCount > 0">В корзине {{cartProductsCount}} товаров на сумму {{cartProductsSum}} рублей</h2>
    <h2 class="shop__cart-heading" v-else>Корзина пуста</h2>
    <ul class="shop__cart-list" v-if="cart.length > 0">
        <li v-for="(c, i) in cart" v-bind:key="c.id">№{{i+1}} {{productById(c.id).productName}} <button :disabled="c.count <= 1" @click="decrementProduct(c.id)">-</button> {{c.count}} шт <button @click="incrementProduct(c.id)" :disabled="!abilityAddProduct(productById(c.id).id)">+</button><button @click="deleteProduct(c.id)">Удалить</button></li>
    </ul>
  </div>
</div>
    
</template>

<script>
export default {
    name: 'ProductList',
    data() {
        return {
            products: [],
            cart: []
        }
    },
    watch: {
        cart: {
            handler: function () {
                this.saveCart()
            },
            deep: true
        }
    },
    computed:{
        productsCount: function(){
            return this.products.length 
        },
        cartProductsCount: function(){
            if (this.cart.length > 0)
                return this.cart.reduce((sum, i) => sum + i.count, 0)
            else 
                return 0    
        },
        cartProductsSum: function(){
            if (this.cart.length > 0)
                return this.cart.reduce((sum, i) => sum + i.count * this.productById(i.id).price, 0)
            else 
                return 0    
        },
    },
    methods: {
        saveCart: function(){
            localStorage.removeItem('cart')
            localStorage.setItem('cart', JSON.stringify(this.cart))
        },
        loadCart: function(){
            if(localStorage.getItem('cart')) {
                let cart = JSON.parse(localStorage.getItem('cart'))
                return cart
            } else {
                return []
            }

        },
        addToCart: function(id){
            let cartItem = this.cart.find(x => x.id == id)
            if (cartItem === undefined)
                this.cart.push({id: id, count: 1})
            else 
                cartItem.count++

        },
        productById: function(id){
            return this.products.find(x => x.id == id)
        },
        decrementProduct: function(id) {
            let cartItem = this.cart.find(x => x.id == id)
            cartItem.count--
            if (cartItem.count < 1) {
                cartItem.count = 1
            }
        },
        incrementProduct: function(id) {
            let cartItem = this.cart.find(x => x.id == id)
            cartItem.count++
            if (cartItem.count < 1) {
                cartItem.count = 1
            }
        },
        deleteProduct: function(id) {
            let cartItemIndex = this.cart.findIndex(x => x.id == id)
            this.cart.splice(cartItemIndex, 1);

        },
        abilityAddProduct: function(id){
            let product = this.products.find(x => x.id == id)
            let cartItem = this.cart.find(x => x.id == id)
            
            if (product.amount < 1) {
                return false
            }

            if(cartItem !== undefined && cartItem.count >= product.amount){
                return false
            }

             if(cartItem !== undefined && cartItem.count >= product.maxPerPerson){
                return false
            }

            return true
        }
    },
    async mounted() {
        fetch("/products.json").then((res) => res.json()).then(json => this.products = json.products)
        this.cart = this.loadCart()
    }
}
</script>

<style scoped>
    .shop {
        display: grid;
        grid-template-columns: 3fr 2fr;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .shop__products {
        background: rgb(226, 226, 226);
        padding: 30px;
    }
    .shop__product-list {
        list-style: none;
        margin-top: 20px;
    }
    .shop__cart-list {
        list-style: none;
        margin-top: 20px;
    }
    .shop__product-list li {
        margin-bottom: 5px;
    }
    .shop__cart-list li {
        margin-bottom: 5px;
    }
    .shop__cart {
        background: rgb(189, 189, 189);
        padding: 30px;
    }
    .shop__cart-heading {
        font-size: 20px;
    }
</style>
